@media screen and (max-width: 1100px){
    /*Menu */
    header nav .show-menu-btn, .hide-menu-btn{
        display: block;
    }

    header .logo{
        display: block;
      }

    .menu{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: #998AA7;
        right: -30%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .menu li{
        display: block;
        margin: auto;
        width: 100%;
    }

    .menu a{
        display: block;
        padding: 20px;
        color: white;
    }

    .menu a:hover{
        color: black;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
        z-index: 100;
        color: white;
    }

    .hide-menu-btn:hover{
        color: black;
    }

    #chk:checked ~ .menu{
        right: 0;
    }
}

@media screen and (max-width: 960px){
    .galery .obrazek
    {
        flex: 33.33%;
    }
    
}

@media screen and (max-width: 768px){
    header .logo span{
        left: 50px;
      }
    
    .galery .obrazek
    {
        flex: 50%;
    }

    #third_part .galery .obrazek{
        flex: 50%;
      }
      
      #four_part .galery .obrazek{
        flex: 50%;
      }

      footer .back{
          display: none;
      }

      #uvod{
        display: flex;
        height: auto;
        margin: 100px 50px 200px 50px;
        flex-direction: column;
    }

    #uvod .left{
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
    }

    #uvod .left img{
        width: 100%;
    }

    #uvod .right{
        margin-top: 0px;
        width: 100%;
    }

    #kniha{
        background: #998AA7;
        height: auto;
    }

    #kniha .kniha_wrapper{
        flex-direction: column;
    }

    #kniha .right{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    #kniha .left{
        text-align: center;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 100px;
    }

    #kniha .left img{
        max-width: 100%;
    }


}

@media screen and (max-width: 600px){
    .menu{
        width: 50%;
        right: -50%;
    }
    }

@media screen and (max-width: 480px){
    .galery .obrazek
    {
        flex: 100%;
    }

    #third_part .galery .obrazek{
        flex: 100%;
      }
      
      #four_part .galery .obrazek{
        flex: 100%;
      }
}