*{
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 1005;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top:20px;
}

.close-button:hover{
  color: #998AA7;
}

.modal-body{
  padding: 10px 15px;
}

#formular{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#formular input[type=text], input[type=email]{
  border:none;
  border-bottom: 2px solid lightgray;
  transition: ease-in-out 500ms;
  padding: 5px;
  margin-bottom: 20px;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  width: 100%;
  outline: none;
  color: gray;
}

#formular input[type=text]:focus, input[type=email]:focus{
  border-bottom: 2px solid #998AA7;
  color: black;
}

#formular textarea{  
  border: 2px solid lightgray;
  transition: 500ms;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  font-family: "Cairo", sans-serif;
  font-size: 15px;
  width: 100%;
  outline: none;
  resize: none;
  color: gray;
}

#formular textarea:focus{
  border: 2px solid #998AA7;
  color: black;
}

#formular input[type=submit]
{
  background-color: #998AA7;
  transition: 500ms;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  padding: 14px 0;
  border: none;
  border-radius: 10px;
}

#formular input[type=submit]:hover{
  background-color: #80708f;

}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
  z-index: 1004;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

/*Real shit*/

header {
  width: 100%;
}
header nav {
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  background: white;
  top: 0;
  line-height: 50px;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 15%;
  font-size: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  border-bottom: 2px solid #998AA7 scale(0);
}
header nav ul li a:hover {
  color: #998AA7;
  border-bottom: 2px solid #998AA7 scale(1);
}

#uvod {
  display: flex;
  height: 100vh;
  margin: auto 100px;
}
#uvod .left {
  margin: auto;
}
#uvod .left img {
  width: 500px;
  max-width: 80%;
  transform: rotate(-10deg);
}
#uvod .right {
  margin: auto;
  width: 50%;
  text-align: center;
}
#uvod .right button {
  margin: 50px auto;
  background-color: #998AA7;
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 40px;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: 1px solid #998AA7;
}

#uvod .right button:hover{
  background-color:#80708f;
}

#second_part {
  height: 100%;
  color: white;
  background: #998AA7;
}
#second_part .second_wrapper {
  display: flex;
  height: 100%;
  margin: auto 100px;
  flex-direction: column;
}
#second_part .second_wrapper .text {
  text-align: center;
  height: 100px;
}
#second_part .second_wrapper .text h1 {
  border-bottom: 2px solid white;
  width: 30%;
  margin: auto;
  line-height: 100px;
}

#second_part::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #fff;
}

#third_part {
  height: 100%;
  color: black;
}
#third_part .third_wrapper {
  display: flex;
  height: 100%;
  margin: auto 100px;
  flex-direction: column;
}
#third_part .third_wrapper .text {
  text-align: center;
  height: 100px;
}
#third_part .third_wrapper .text h1 {
  border-bottom: 2px solid black;
  width: 30%;
  margin: auto;
  line-height: 100px;
}

#four_part {
  height: 100%;
  color: white;
  background: #998AA7;
}
#four_part .four_wrapper {
  display: flex;
  height: 100%;
  margin: auto 100px;
  flex-direction: column;
}
#four_part .four_wrapper .text {
  text-align: center;
  height: 100px;
}
#four_part .four_wrapper .text h1 {
  border-bottom: 2px solid white;
  width: 30%;
  margin: auto;
  line-height: 100px;
}

#kniha {
  height: 100%;
  color: white;
  background: #998AA7;
}
#kniha .kniha_wrapper {
  display: flex;
  height: 100%;
  margin: auto 100px;
}

#kniha .right{
  width: 50%;
}

#kniha .kniha_wrapper .text {
  text-align: center;
}
#kniha .kniha_wrapper .text h1 {
  border-bottom: 2px solid white;
  width: 30%;
  margin: auto;
  line-height: 100px;
}

#kniha button{
  text-align: center;
  width: 20%;
  border: 2px solid white;
  transition: 500ms;
  border-radius: 30px;
  margin: auto;
  height: 50px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-color: #998AA7;
}

#kniha button:hover{
  background-color: #80708f;
}

#kniha .left, .right{
  margin: auto;
}

#kniha .left img{
  width: 800px;
  max-width: 80%;
}

.galery {
  display: grid;
  margin: auto;
  grid-template-columns: 50px 50px 100px;
  grid-column-gap: 200px;
  grid-row-gap: 50px;
  width: 40%;
}
.galery a {
  width: 200px;
  height: 200px;
}
.galery a .obrazek {
  width: 200px;
  height: 200px;
  transition: 1s;
}
.galery a .obrazek:hover {
  transform: scale(1.1);
}

footer{
  display: flex;
  background: #998AA7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
}

footer .social, .back {
  text-align: center;
  line-height: 50px;
}

footer .social{
  width:100%;
}

footer .back{
  position: absolute;
  right:20px
}
footer .social a, .back a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 20px;
}
footer .social a:hover, .back a:hover {
  color: black;
  transition: 0.5s;
}


/*# sourceMappingURL=style.css.map */
