*{
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 1005;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top:20px;
}

.close-button:hover{
  color: #998AA7;
}

.modal-body{
  padding: 10px 15px;
}

#formular{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#formular input[type=text], input[type=email]{
  border:none;
  border-bottom: 2px solid lightgray;
  transition: ease-in-out 500ms;
  padding: 5px;
  margin-bottom: 20px;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  width: 100%;
  outline: none;
  color: gray;
}

#formular input[type=text]:focus, input[type=email]:focus{
  border-bottom: 2px solid #998AA7;
  color: black;
}

#formular textarea{  
  border: 2px solid lightgray;
  transition: 1s;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  width: 100%;
  outline: none;
  resize: none;
  color: gray;
  height: 100px;
}

#formular textarea:focus{
  border: 2px solid #998AA7;
  color: black;
  height: 200px;
}

#formular input[type=submit]
{
  background-color: #998AA7;
  transition: 500ms;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  padding: 14px 0;
  border: none;
  border-radius: 10px;
}

#formular input[type=submit]:hover{
  background-color: #80708f;

}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
  z-index: 1004;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

/*Real shit*/

header {
  width: 100%;
}

header .logo{
  display: none;
}

header .logo span{
  text-transform: uppercase;
  position: absolute;
  left: 100px;
  font-size: 1.8em;
  height: 50px;
  line-height: 69px;
}

header nav {
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  background: white;
  top: 0;
  line-height: 50px;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 20%;
  font-size: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  border-bottom: 2px solid #998AA7 scale(0);
}
header nav ul li a:hover {
  color: #998AA7;
  border-bottom: 2px solid #998AA7 scale(1);
}

header nav .show-menu-btn, .hide-menu-btn{
  transition: 500ms;
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: none;
}

header nav .show-menu-btn:hover{
  color: #998AA7;
}

header nav .show-menu-btn{
 position: absolute;
  line-height: 50px;
  right: 50px;

}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

#uvod {
  display: flex;
  height: 100vh;
  margin: auto;
  max-width: 1200px;
}
#uvod .left {
  margin: auto;
  width: 50%;
  max-width: 100%;
  text-align: center;
}
#uvod .left img {
  width: 500px;
  max-width: 100%;
  transform: rotate(-10deg);
  min-width: 50%;
}
#uvod .right {
  margin: auto;
  width: 50%;
  text-align: center;
}

#uvod .right{
  font-size: 1.3em;
}

#uvod .right .text h1{
  font-size: 2.5em;
}

#uvod .right button {
  margin: 50px auto;
  background-color: #998AA7;
  text-align: center;
  height: 60px;
  width: 250px;
  border-radius: 40px;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  border: 1px solid #998AA7;
}

#uvod .right button:hover{
  background-color:#80708f;
}

#second_part {
  width: 100%;
  padding: 60px 0;
  background: #998AA7;
}
#second_part .second_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.second_wrapper h1{
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}

#third_part {
  width: 100%;
  padding: 60px 0;
}
#third_part .third_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

#third_part .third_wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 3em;
}

#four_part {
  width: 100%;
  padding: 60px 0;
  background: #998AA7;
}
#four_part .four_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

#four_part .four_wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}

#kniha {
  height: 100%;
  color: white;
  background: #998AA7;
}

#kniha h1 {
font-size: 3em;
}

#kniha header nav{
  position: static;
}

#kniha header nav .menu .first{
  width: 10%;
}

#kniha .kniha_wrapper h1{
  margin: 50px auto 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#kniha .kniha_wrapper .cara{
  margin-top: 5px;
}

#kniha .kniha_wrapper .container {
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1200px;
}

#kniha .container .box{
  position: relative;
  min-width: 300px;
  min-height: 300px;
  box-sizing: border-box;
  margin: auto;
  max-width: 700px;
}

#kniha .container .box .image{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#kniha .container .box .image img{
  width: 100%;
  transition: transform 2s;
}

#kniha .container .box:hover .image img{
  transform: scale(1.2);
}

#kniha .container .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,.8);
  color: white;
  transform: scaleY(0);
  transition: .5s;
}

#kniha .container .box:hover .details{
  transform: scaleY(1);
}

#kniha .container .box .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
}

#kniha .container .box .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#kniha .container .box .details .content p{
  margin: 10px 0 0;
  padding: 0;
  font-size: 1.1em;
}

#kniha button{
  text-align: center;
  width: 200px;
  transition: 500ms;
  margin: 10px auto;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  background-color: #998AA7;
  border-radius: 20px;
  border:none;
}

#kniha button:hover{
  background-color: #80708f;
}

.galery {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.galery .obrazek {
 flex: 25%;
 overflow: hidden;
 cursor: pointer;
}


.galery .obrazek img {
  width: 100%;
  height: 100%;
  transition: 600ms;
}

.galery .obrazek img:hover{
  transform: scale(0.95);
}

#third_part .galery .obrazek{
  flex: 25%;
}

#four_part .galery .obrazek{
  flex: 20%;
}

footer{
  display: flex;
  background: #998AA7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
}

footer .copyright{
  position: absolute;
  left: 30px;
  color: rgba(255,255,255,.7);
  font-size: 12px;
}

footer .copyright p{
  margin: auto;
  line-height: 50px;
  text-transform: uppercase;
}

footer .social, .back{
  text-align: center;
  line-height: 50px;
}

footer .social{
  width:100%;
}

footer .back{
  position: absolute;
  right:20px
}
footer .social a, .back a {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  margin: 20px;
}
footer .social a:hover, .back a:hover {
  color: black;
  transition: 0.5s;
}

.cara{
  width: 180px;
  height: 4px;
  background: white;
  margin: 30px auto;
  border-radius: 10px;
}

#third_part .cara{
background: black;
}

/*# sourceMappingURL=style.css.map */
